:root {
  --c-primary: #121212;
  --c-secondary: #EEEDF2;

  --c-primary-me: #1C1C1C;
  --c-secondary-me: #EEEDF2;
  --c-tertiary-me: #5D31FF;
  --c-quartiary-me: #584b4b;

  --c-primary-transparent: #0d163026;
  --c-on-primary-transparent: #0D1630;


  --c-detail-primary-me: #DEF241;
  --c-detail-secondary-me: #f88cd5;

  --c-on-detail-primary-me: #DEF241;
  --c-on-detail-primary-transparent-me: #ddf2419f;

  --c-on-detail-secondary: #f88cd5;
  --c-on-detail-secondary-transparent: #f88cd6b9;

  --c-primary-transparent-me: #1c1c1c;
  --c-on-primary-transparent-me: #1c1c1c2c;

  --c-secondary-transparent: #F4377726;
  --c-on-secondary-transparent: #F88CD5;

  --c-secondary-transparent-me: #EEEDF2;
  --c-on-secondary-transparent-me: #eeedf227;

  --c-tertiary-transparent-me: #5D31FF;
  --c-on-tertiary-transparent-me: #5e31ff2a;

  --c-info-transparent: #0D47A140;
  --c-on-info-transparent: #0D47A1;

  --c-warning-transparent: #ff910040;
  --c-on-warning-transparent: #ff8f00;

  --c-error-transparent: #c6282840;
  --c-on-error-transparent: #c62828;

  --c-error: #c62828;
  --c-warning: #ff8f00;
  --c-success: #2e7d32;

  --c-error-hover: #c7292926;
  --c-warning-hover: #ff8f0026;
  --c-success-hover: #2e7d3226;

  --c-primary-disabled: #0D163026;

  --c-flat: #D8D9DA;
  --c-primary-flat: #CED0D5;
  --c-background-0: #F0F1F2;
  --c-background-1: #FFFFFF;

  --c-overlay-background: #FFFFFFbf;

  --c-background-secondary: #f5387726;
  --c-background-tertiary: #dd31ff2a;

  --c-flat: #5B5B5B;
  --c-primary-flat: #5B5B5B;
  --c-background-0: #292929;
  --c-background-1: #3e3e3e;

  --c-divider: #f1f2f340;
  --c-scroll-on-background: #00000040;

  --c-on-primary: #E2DFDC;
  --c-on-secondary: #E2DFDC;
  --c-on-background: #E2DFDC;
  --c-on-primary-flat: #4d4d4d;

  --c-hover-on-primary: #31394e;
  --c-hover-on-background: #732991af;
  --c-hover-on-secondary: #f65f92;

  --headerbar-wide-breakpoint: $headerbar-wide-breakpoint;
  --headerbar-thin-breakpoint: $headerbar-thin-breakpoint;

  --c-media-background: #FFFFFF;
  --c-media-player-bar: #0d16304d;

  --c-table-header: #0D1630;
  --c-on-table-header: #F0F1F2;



  --c-action: hsl(225, 57%, 12%);
  --c-on-action: #F0F1F2;
  --c-hover-on-action: #31394e;
}


$c-primary: var(--c-primary);
$c-secondary: var(--c-secondary);

$c-primary-me: var(--c-primary-me);
$c-secondary-me: var(--c-secondary-me);
$c-tertiary-me: var(--c-tertiary-me);
$c-quartiary-me: var(--c-quartiary-me);



$c-detail-primary-me: var(--c-detail-primary-me);
$c-detail-secondary-me: var(--c-detail-secondary-me);

$c-background-secondary: var(--c-background-secondary);
$c-background-tertiary: var(--c-background-tertiary);

$c-detail-primary-transparent: var(--c-detail-primary-transparent);
$c-on-detail-primary-transparent: var(--c-on-detail-primary-transparent);

$c-primary-transparent: var(--c-primary-transparent);
$c-on-primary-transparent: var(--c-on-primary-transparent);

$c-detail-secondary-transparent: var(--c-detail-secondary-transparent);
$c-on-detail-secondary-transparent: var(--c-on-detail-secondary-transparent);

$c-secondary-transparent: var(--c-secondary-transparent);
$c-on-secondary-transparent: var(--c-on-secondary-transparent);

$c-tertiary-transparent: var(--c-tertiary-transparent);
$c-on-tertiary-transparent: var(--c-on-tertiary-transparent);


$c-info-transparent: var(--c-info-transparent);
$c-on-info-transparent: var(--c-on-info-transparent);

$c-warning-transparent: var(--c-warning-transparent);
$c-on-warning-transparent: var(--c-on-warning-transparent);

$c-error-transparent: var(--c-error-transparent);
$c-on-error-transparent: var(--c-on-error-transparent);

$c-secondary: var(--c-secondary);

$c-error: var(--c-error);
$c-warning: var(--c-warning);
$c-success: var(--c-success);

$c-primary-disabled: var(--c-primary-disabled);

$c-error-hover: var(--c-error-hover);
$c-warning-hover: var(--c-warning-hover);
$c-success-hover: var(--c-success-hover);

$c-flat: var(--c-flat);
$c-primary-flat: var(--c-primary-flat);
$c-background-0: var(--c-background-0);
$c-background-1: var(--c-background-1);

$c-overlay-background: var(--c-overlay-background);

$c-on-primary: var(--c-on-primary);
$c-on-secondary: var(--c-on-secondary);
$c-on-background: var(--c-on-background);
$c-on-primary-flat: var(--c-on-primary-flat);

$c-divider: var(--c-divider);
$c-scroll-on-background: var(--c-scroll-on-background);


$c-hover-on-primary: var(--c-hover-on-primary);
$c-hover-on-background: var(--c-hover-on-background);
$c-hover-on-secondary: var(--c-hover-on-secondary);

$c-media-background: var(--c-media-background);
$c-media-player-bar: var(--c-media-player-bar);

$c-table-header: var(--c-table-header);
$c-on-table-header: var(--c-on-table-header);

$c-action: var(--c-action);
$c-on-action: var(--c-on-action);
$c-hover-on-action: var(--c-hover-on-action);

// borders
$radius-ss: 2px;
$radius-s: 4px;
$radius-sm: 6px;
$radius-m: 8px;
$radius-l: 12px;
$radius-xl: 16px;
$radius-xxl: 32px;

// shadows
$shadow-0: 0px 1px 2px rgba(0, 0, 0, 0.3),
0px 1px 3px 1px rgba(0, 0, 0, 0.15);
$shadow-1: 0px 1px 2px rgba(0, 0, 0, 0.3),
0px 2px 6px 2px rgba(0, 0, 0, 0.15);
$shadow-2: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
0px 1px 3px rgba(0, 0, 0, 0.3);
$shadow-3: 0px 6px 10px 4px rgba(0, 0, 0, 0.15),
0px 2px 3px rgba(0, 0, 0, 0.3);
$shadow-4: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),
0px 4px 4px rgba(0, 0, 0, 0.3);

// fonts
$f-sans: 'IBM Plex Sans',
sans-serif;
$f-mono: 'IBM Plex Mono',
monospace;


// UI old
$sidebar-wide: 256px;
$sidebar-thin: 80px;
$sidebar-wide-breakpoint: 1400px;
$sidebar-thin-breakpoint: 800px;

// UI new
$headerbar-wide: 100%;
$headerbar-thin: 80px;
$headerbar-wide-breakpoint: 1400px;
$headerbar-thin-breakpoint: 800px;

// Exhibition
$exhibition-background: #04050e;
$exhibition-on-background: #ffffff;
$exhibition-scroll: hsla(0, 0%, 100%, 0.25);