@font-face {
  font-family: 'Helvetic Neue';
  src: url('/fonts/helvetica-neue/100.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetic Neue';
  src: url('/fonts/helvetica-neue/100-italic.ttf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetic Neue';
  src: url('/fonts/helvetica-neue/200.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetic Neue';
  src: url('/fonts/helvetica-neue/200-italic.ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetic Neue';
  src: url('/fonts/helvetica-neue/300.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetic Neue';
  src: url('/fonts/helvetica-neue/300-italic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetic Neue';
  src: url('/fonts/helvetica-neue/400.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetic Neue';
  src: url('/fonts/helvetica-neue/400-italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetic Neue';
  src: url('/fonts/helvetica-neue/500.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetic Neue';
  src: url('/fonts/helvetica-neue/500-italic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetic Neue';
  src: url('/fonts/helvetica-neue/600.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetic Neue';
  src: url('/fonts/helvetica-neue/600-italic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetic Neue';
  src: url('/fonts/helvetica-neue/700.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetic Neue';
  src: url('/fonts/helvetica-neue/800.ttf');
  font-weight: 800;
  font-style: normal;
}